#curLEAFapp, #curLEAFapp>div {
    height: 100%;
}
.loading {
    /* Absolute position */
    position: absolute;
    left: 0;
    top: 0;

    /* Take full size */
    height: 100%;
    width: 100%;

    border: none;
    /* Center */
    align-items: center;
    justify-content: center;
}
.outter {
      display: block; 
      align-items: center;
      justify-content: center;
      margin: 20px auto;
      width: 100%;
      height: 40px;
      border-width: 0px;
      border-color: red;
      border-style: solid;
}
.inner {
      width: 100%;
      height: 100%;
      background-color: black;
}
*:focus {
    outline:none !important;
}